[Unit]
Description=Run task sync every few minutes

[Service]
Type=simple
ExecStart=/usr/bin/toolbox run -c new-20191105 /usr/bin/task sync
NoNewPrivileges=true
